a {
  color: #000;
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a *,
a:link *,
a:visited *,
a:hover *,
a:active * {
  cursor: pointer !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text !important;
}
