@font-face {
  font-family: Rationale;
  src: url('@/presentation/shared/assets/fonts/rationale/rationale-webfont.eot');
  src:
    url('@/presentation/shared/assets/fonts/rationale/rationale-webfont.eot?#iefix') format('embedded-opentype'),
    url('@/presentation/shared/assets/fonts/rationale/rationale-webfont.woff') format('woff'),
    url('@/presentation/shared/assets/fonts/rationale/rationale-webfont.ttf') format('truetype'),
    url('@/presentation/shared/assets/fonts/rationale/rationale-webfont.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url('@/presentation/shared/assets/fonts/inconsolata/ttf-inconsolata-webfont.eot');
  src:
    url('@/presentation/shared/assets/fonts/inconsolata/ttf-inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
    url('@/presentation/shared/assets/fonts/inconsolata/ttf-inconsolata-webfont.woff') format('woff'),
    url('@/presentation/shared/assets/fonts/inconsolata/ttf-inconsolata-webfont.ttf') format('truetype'),
    url('@/presentation/shared/assets/fonts/inconsolata/ttf-inconsolata-webfont.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
